.swiper-container {
    width: 480px;
    
  }

.swiper-button-prev{
  color: silver;
  transition: transform .2s;
  
}
.swiper-button-next{
  color: silver;
  transition: transform .2s;
  
}
.swiper-button-next:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.swiper-button-prev:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 640px;
    }
    
    
  }
  
  @media screen and (min-width: 1300px) {
    .swiper-container {
      width: 1300px;
    }
    .card{
        width: 15rem;
    }
  }
  @media screen and (min-width: 1080px) {
    .swiper-container {
      width: 108px;
    }
  }

